extends layout

block content
  h1= title
  p Welcome to the fan pug
  div(class="container-fluid")
        div(class="row")
            -
                let fan = results
            each n,index in fan
                div(class="col-sm-2" onclick=`buy(${index})`) #{n.brand}
                div(class="col-sm-2" onclick=`buy(${index})`) #{n.material}
                div(class="col-sm-2" onclick=`buy(${index})`) #{n.cost}
  script.                
    function buy(itemNo)
    {
        alert(`you purchased Item ${itemNo+1}`)
    }               


  