extends layout 
 
block content 
  h1= title 
 
  - let id = toShow._id 
  - let brand = toShow.brand 
  - let material = toShow.material 
  - let cost = toShow.cost 
  div(class="card card-body" style="width: 30rem; background-color:#a47575;") 
    div(class="row p-3 mb-2  text-white") 
      div(class=' mr-3 col-sm-6') fan ID: 
      div(class=' mr-3 col-sm-6') #{id} 
    div(class="row p-3 mb-2  text-white") 
      div(class=' mr-3 col-sm-6') fan Brand: 
      div(class=' mr-3 col-sm-6') #{brand} 
    div(class="row p-3 mb-2  text-white") 
      div(class=' mr-3  col-sm-6') fan Material  : 
      div(class=' mr-3 col-sm-6')  #{material} 
    div(class="row p-3 mb-2  text-white") 
      div(class=' mr-3 col-sm-6') fan Cost: 
      div(class=' mr-3 col-sm-6') $#{cost}
    div(class="d-flex flex-row justify-content-center")      
            a(href='/fan' class="btn") Go To fans