extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    - let mattressid = toShow._id
    - let mattressbrand = toShow.brand
    - let mattressmaterial = toShow.material
    - let mattresscost = toShow.cost
    div(class="card card-body" style="width: 30rem; background-color:#a47575;")
        div(class="row p-3 mb-2  text-white")
            div(class=' mr-3 col-sm-6') mattress ID is:
            div(class=' mr-3 col-sm-6') #{mattressid}
        div(class="row p-3 mb-2  text-white")
            div(class=' mr-3 col-sm-6') mattress brand is:
            div(class=' mr-3 col-sm-6') #{mattressbrand}
        div(class="row p-3 mb-2  text-white")
            div(class=' mr-3 col-sm-6') mattress material is:
            div(class=' mr-3 col-sm-6') #{mattressmaterial}
        div(class="row p-3 mb-2  text-white")
            div(class=' mr-3 col-sm-6') mattress cost is:
            div(class=' mr-3 col-sm-6') #{mattresscost}