extends layout 
 
block content 
  h1= title 
 
  - let id = toShow._id 
  - let type = toShow.brand 
  - let material = toShow.material 
  - let cost = toShow.cost 
  div(class="card card-body delete_div") 
    div(class="row p-3 mb-2 text-white") 
      div(class=' mr-3 col-sm-6 fanlink') fan ID: 
      div(class=' mr-3 col-sm-6 fanink' id="id" data=id) #{id} 
    div(class="row p-3 mb-2 text-white") 
      div(class=' mr-3 col-sm-6 fanlink') fan Brand: 
      div(class=' mr-3 col-sm-6 fanink') #{type} 
    div(class="row p-3 mb-2 text-white") 
      div(class=' mr-3  col-sm-6 fanlink') fan Material : 
      div(class=' mr-3 col-sm-6 fanink')  #{material} 
    div(class="row p-3 mb-2 text-white") 
      div(class=' mr-3 col-sm-6 fanlink') fan Cost: 
      div(class=' mr-3 col-sm-6 fanink') $#{cost}
    div(class="d-flex flex-row justify-content-evenly")
      input(class="btn btn-danger " type="submit" value="Delete" id="delete")      
      a(href='/fan' class="btn btn-secondary") Cancel

       script.
 function cancel() {
 // Go back to the home page for the costume collection
 window.location.href='/costumes'
 }

 
  script. 
    document.getElementById('delete').addEventListener('click', (event) => { 

        var id =document.getElementById('id').getAttribute("data");
      event.preventDefault(); 
      alert(id);
      // TODO do something here to show user that form is being submitted 
      var x ='/resource/fan/'+id;
      alert(x)

      fetch(x, { 
        method: 'DELETE'
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Deleted succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Deleted failed " + error ) 
      }); 
    }); 